<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

<head>
  <meta charset="UTF-8">
  <title>Pix2Pix</title>
  <br>
  <br>
  <p>Stadium GAN</p>
  <br>
  <br>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script> -->
  
  <script src="https://unpkg.com/ml5@0.1.1/dist/ml5.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

  <!-- MODEL 1 -->
  <div>
    <div class="container">
            <div id="app" class = "row">
                <div id="input" class = "col-sm">
                </div>
                <img id="output" class = "col-sm" src="static/images/blank.png">
                <br>
              </div>
                <br>
                <center  class = "row">
                  <br>
                  <br>
                  <input type="range" class="custom-range" min="0" max="100" step="0.5" id="customRange">
                    &nbsp;
                    <div id="colors">
                      <div class="colors" id="color_void">
                        <p>Void</p>
                      </div>
                      <div class="colors" id="color_0">
                          <p>Side</p>
                        </div>
                      <div class="colors" id="color_1">
                        <p>Top</p>
                      </div>
                      <div class="colors" id="color_2">
                        <p>Open</p>
                      </div>
                    </div>
                    </center>
                    <div id="buttons" class = "row">
                      <button class="btn col" id="clearBtn">Clear</button>
                      <button class="btn col" id="transferBtn">Transfer</button>
                      <button class="btn col" id="randomBtn">Random</button>
                      <br>
                      <br>

                    </div>
                    <br>


        </div>
  </div>

  <script src="static/sketch.js"></script>
</body>

</html>
